

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1>Page d'accueil</h1>
            <hr>
            <br><br>
<table class="table table-bordered ">
    <td>
    <img src="https://encrypted-tbn0.gstatic.com/
    images?q=tbn%3AANd9GcRZp2y5QvrRABPyQvpso9iE0ii_
    RmEpjBStBBJdjosvOJzUvCqA" class="img">
<br>

    <button class="btn btn-link" (click)="getUserSold()"><h3>Solde</h3></button>
</td>
<td>
    <img src="https://cdn.pixabay.com/photo/2017/01/23/23/45/coupon-2004245_960_720.png" class="img" >

    <button class="btn btn-link" routerLink="/achterCoupon"><h3>Achter Coupon</h3></button>
    </td>
    <tr>
        <td><img src="https://www.goodfreephotos.com/albums/vector-images/credit-card-vector-graphics.png" class="img">
            <button class="btn btn-link" routerLink="/utiliserCode"><h3>Utiliser Un Code</h3></button></td>



        <td><img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Ambox_outdated_serious.svg" class="img">
            <button class="btn btn-link" routerLink="/Tous Les Achats"><h3>consulter historique D'achat</h3></button></td>
    </tr>
</table>

        </div>
    </div>
</div>
