<h1 xmlns="http://www.w3.org/1999/html">Cree Coupon</h1>
<hr>


<table border="2" cellspacing="5"  >


  <td>Prix de coupon</td><td><input type="number"[(ngModel)]="prixCoupon" min="1"></td>
  <tr></tr>
  <td>quantite </td><td><input [(ngModel)]="quantite" type="number" min="0"></td>
  <tr></tr>
  <td>Description </td><td><input [(ngModel)]="descCoupon" type="text" ></td>
  <tr></tr>
  <td>socite</td><td><input [(ngModel)]="socCoupon" type="text"></td>
  <tr></tr>
  <td>Image</td><td><input [(ngModel)]="imageSource" type="text"></td>

</table>

<hr>
<button type="submit" (click)="ajtCoupon()" class="btn btn-success"> Cree Coupon</button>



